<div class="row" id="{{_id}}">
    <div class="col-md-4 thumbnail" style="margin-top: 2.5em;">
        <img class=".img-fluid. max-width: 100%;" src="{{imgUrl}}" alt="book-cover">
    </div>
    <div class="col-md-5 text-left">
        <h2><strong>{{title}}</strong></h2>
        <h3>{{author}}</h3>
        <h3><em>{{category}}</em></h3>
        <h4>{{pages}} pages</h4>
        <p>{{description}}</p>
    </div>
    <div class="col-md-3 text-center">
        <h3>Price: {{price}} BGN</h3>
        <button type="button" id="btn-add-to-cart" class="btn btn-success">Add to Cart</button>
    </div>
</div>