<div class="row" id="{{_id}}">
    <div class="col-md-4 thumbnail" style="margin-top: 2.5em;">
        <img class=".img-fluid. max-width: 100%;" src="{{imgUrl}}" alt="book-cover">
    </div>
    <div class="col-md-5 text-left">
        <h2><strong>{{title}}</strong></h2>
        <h3>{{author}}</h3>
        <h3><em>{{category}}</em></h3>
        <h4>{{pages}} pages</h4>
        <p>{{description}}</p>
        <p>
            <iframe src="https://www.facebook.com/plugins/share_button.php?href={{pageUrl}}&layout=button_count&size=small&mobile_iframe=true&appId=571771772947924&width=134&height=20"
                    width="134" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowTransparency="true"></iframe>
        </p>
    </div>

    <div class="col-md-3 text-center">
        <h3>Price: {{price}} BGN</h3>
        <button type="button" id="btn-add-to-cart" class="btn btn-success">Add to Cart</button>
    </div>
</div>