{{#user}}
<form class="form-horizontal">
    <fieldset>
        <legend>{{username}}'s profile</legend>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" placeholder="Email" value="{{email}}" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Address</label>
            <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="textArea">{{address}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPhone" class="col-lg-2 control-label">Phone number</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputPhone" placeholder="Email" value="{{phone}}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <a type="reset" class="btn btn-default" href="/">Cancel</a>
                <button id="submit-user-data" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>
{{/user}}
<div class="row">
    <div class="col-md-10 col-lg-offset-1">
        <h2 class="heading-section">Your orders:</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-lg-offset-1">
        <table class="table table-hover table-striped table-responsive cart text-left">
            <tbody>
            <tr class="text-center">
                <th>Products</th>
                <th>Total Price</th>
                <th>Status</th>
            </tr>
            {{#orders}}
                <tr>
                    <td>{{#books}}{{_title}}, {{/books}}</td>
                    <td><span class="cart-table-cell">{{totalPrice}}</span></td>
                    <td><span class="cart-table-cell">{{status}}</span></td>
                </tr>
            {{/orders}}
            </tbody>
        </table>
    </div>
</div>